<%= form_for Post.new, :remote => true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit :id => "post-submit", :class => "btn btn-primary" %>
  </div>
<% end %>

<div id="post-list">
  <% @posts.each do |post| %>
    <%= render :partial => "post", :locals => { :post => post } %>
  <% end %>
</div>

<script>
  var current_max_id = <%= @posts.last.id %>;

  $(window).scroll(function(){
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      var url = "/posts?max_id=" + current_max_id;
      console.log("sent " + url)
      if (url) {
        $.ajax({
          method: "GET",
          url: url,
          dataType: "script"
        })
      } else {
        console.log("data ended")
      }
    }
  })

  $("#post-list").on('change', ".toggle_flag",function(){
    var that = this;
    var url = $(this).data("url");

    $.ajax({
      url: url,
      method: "POST",
      dataType: "json",
      success: function(data){
        if ( data["flag_at"] ) {
          $(that).closest("label").find("span").html(data["flag_at"])
        } else {
          $(that).closest("label").find("span").html("")
        }
      }
    });
  });


</script>